Import Packages

In [173]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta
from IPython.display import display

warnings.filterwarnings("ignore")

Read Data with Pandas

In [174]:
country_data_raw = pd.read_csv("Country_Data_Raw.csv")#read input data

country_transposed = country_data_raw.transpose()#flip dataframe

final_table = country_transposed.iloc[:1,[0,9,18,27,36,45,54,63,72,81,90,99,108]]#create data frame header columns
final_table.columns = range(final_table.columns.size)

count_start = 0
count_end = 12
for i in range(9):
     transposed_country = country_transposed.iloc[4:,[0+count_start,9+count_start,18+count_start,27+count_start,36+count_start,45+count_start,54+count_start,63+count_start,72+count_start,81+count_start,90+count_start,99+count_start,108+count_start]]
     transposed_country.columns = range(transposed_country.columns.size)

     #Male and female birth rates appear to have an up and down variance (BUT LIMITED IN EITHER DIRECTION) as time progresses without a clear relationship. In this case we beleive it is safe to
     #average out the values for each country and use that to fill the gaps. The data has no outliers and is fairly tightly packed
     transposed_country[7] = pd.to_numeric(transposed_country[7], errors='coerce')
     transposed_country[7].replace({np.NaN: transposed_country[7].mean()}, inplace=True)

     transposed_country[8] = pd.to_numeric(transposed_country[8], errors='coerce')
     transposed_country[8].replace({np.NaN: transposed_country[8].mean()}, inplace=True)

     #lO
     transposed_country[11] = pd.to_numeric(transposed_country[11], errors='coerce')
     transposed_country[11].replace({np.NaN: transposed_country[11].mean()}, inplace=True)
     
     final_table = pd.concat([final_table, transposed_country], axis=0, ignore_index=True)

     count_start = count_start + 1

#Fill all empty values with NaN
final_table.replace({'..': np.nan}, inplace = True)
#Birth and death rate have limited variance, it is safe to use the previous fill given it is from only a year ago
final_table[0].fillna(method="ffill", inplace=True)
final_table[2].fillna(method="ffill", inplace=True)
final_table.head(50)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,"Birth rate, crude (per 1,000 people)","Population, total","Death rate, crude (per 1,000 people)","GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Labor force, total",Age dependency ratio (% of working-age populat...,"Age at first marriage, male","Age at first marriage, female","Age dependency ratio, old","Age dependency ratio, young",Completeness of birth registration (%),Completeness of death registration with cause-...
1,10.6,32243753,7.1,34810,46.63737609,17821886,44.495093,28.7,26.98,18.95421925,25.54087375,100.0,NaN
2,10.9,32571174,7,38510,46.8751721,18030705,44.23699432,28.6,26.6,19.13834588,25.09864844,100.0,NaN
3,11.2,32889025,7.1,43090,47.0367127,18379605,44.03477573,28.7,26.98,19.35344295,24.68133278,100.0,NaN
4,11.3,33247118,7.2,45650,46.97475419,18667574,43.93390259,28.7,26.98,19.62097814,24.31292445,100.0,100
5,11.3,33628895,7.1,43230,47.20037683,18799155,43.97675318,28.7,26.98,19.96659698,24.0101562,100.0,NaN
6,11.1,34004889,7,44490,47.31051354,19001081,44.17994479,28.7,26.98,20.40672487,23.77321992,100.0,100
7,11,34339328,7.1,47190,47.26751603,19147395,44.64763374,28.6,26.9,20.90334426,23.74428949,100.0,NaN
8,11,34714222,7.1,51080,47.39299543,19322866,45.13918539,28.7,26.98,21.48625689,23.65292849,100.0,NaN
9,10.8,35082954,7.2,52800,47.46647388,19546552,45.70697547,28.8,27.1,22.15015152,23.55682395,100.0,NaN
10,10.8,35437435,7.3,52200,47.32607559,19629145,46.38054112,28.7,26.98,22.86956698,23.51097413,100.0,NaN
11,10.7,35702908,7.4,47590,47.17306195,19747709,47.15645579,28.8,27.1,23.62395809,23.5324977,100.0,100
12,10.6,36109487,7.4,43890,47.30072881,19955331,47.82631443,28.7,27.2,24.32483539,23.50147904,100.0,NaN
13,10.3,36545295,7.5,42900,47.40507966,20218270,48.61607607,28.7,26.98,25.03064915,23.58542692,100.0,NaN
14,10.1,37065178,7.7,45080,47.50117139,20396697,49.48187729,28.7,26.98,25.75872729,23.72315,100.0,NaN
15,9.9,37593384,7.6,46550,47.38180361,20788261,50.36191603,28.7,26.98,26.53571732,23.82619871,100.0,NaN
16,9.9,38005238,7.6,43580,47.09236951,20492683,51.23928687,28.7,26.98,27.38090851,23.85837836,100.0,NaN
17,14,295516599,8.3,46180,45.88541943,151976098,49.68456775,29.2,25.6,18.42873209,31.25583566,100.0,NaN
18,14.3,298379912,8.1,47850,45.86670406,153855509,49.69711035,29.2,25.6,18.53387335,31.163237,100.0,NaN
19,14.3,301231207,8,48520,45.90911393,155224880,49.6149867,29.2,23.7,18.65978389,30.95520281,100.0,NaN
20,14,304093966,8.1,49090,46.05633577,156907793,49.52142753,29.2,25.6,18.83239533,30.68903221,100.0,NaN
21,13.5,306771529,7.9,47830,46.27445911,157079943,49.52581393,29.2,25.6,19.08345408,30.44235985,100.0,98
22,13,309327143,7.995,49140,46.27768454,157111093,49.67051522,29.2,27.5,19.42988579,30.24062943,100.0,NaN
23,12.7,311583481,8.073,50630,46.26629636,157163170,49.86975262,29.2,25.6,19.85813508,30.01161754,100.0,NaN
24,12.6,313877662,8.102,52780,46.1698979,157841889,50.11544312,29.2,25.6,20.35780389,29.75763923,100.0,NaN
25,12.4,316059947,8.215,53980,46.08764735,158252925,50.42591564,29.2,25.6,20.91679038,29.50912526,100.0,NaN
26,12.5,318386329,8.237,55800,46.14571941,158910317,50.79303992,29.2,25.6,21.51469796,29.27834196,100.0,NaN
27,12.4,320738994,8.44,56640,46.05790055,159912569,51.20955055,29.2,25.6,22.14144011,29.06811045,100.0,NaN
28,12.2,323071755,8.493,57130,46.04152378,161836238,51.64616731,29.2,25.6,22.79799773,28.84816957,100.0,100
29,11.8,325122128,8.638,59240,46.17612365,163395307,52.15580602,29.2,25.6,23.46146061,28.69434541,100.0,NaN
30,11.6,326838199,8.678,63490,46.19075536,164634753,52.71067711,29.2,25.6,24.13997563,28.57070148,100.0,NaN
31,11.4,328329953,8.7,65970,46.29959035,166355636,53.27766617,29.2,25.6,24.84570588,28.43196029,100.0,NaN
32,11.4,329484123,8.7,64530,46.29551159,163738061,53.85248134,29.2,25.6,25.587092,28.26538933,100.0,NaN
33,42.981,7364857,12.239,140,51.93673772,3233143,97.06056981,25.5,21.6,4.485549547,92.57502026,60.0,NaN
34,43.053,7607850,11.791,150,51.89216761,3352425,95.22760708,25.4,22.15,4.407617004,90.81999008,72.9,NaN
35,43.102,7862226,11.36,170,51.84928405,3476102,93.4754245,25.4,22.15,4.330653826,89.14477068,72.9,NaN
36,43.11,8126104,10.936,190,51.80978675,3601032,91.91651195,24.6,22.1,4.254441289,87.66207066,72.9,NaN
37,43.057,8397661,10.519,200,51.77533385,3723694,90.66561287,25.4,22.15,4.177216742,86.48839613,72.9,NaN
38,42.919,8675606,10.113,220,51.7486529,3842129,89.7575691,25.4,22.1,4.100401974,85.65716713,75.2,NaN
39,42.682,8958406,9.728,230,51.7475804,3943624,89.79058518,25.4,22.15,4.057304922,85.73328026,72.9,NaN
40,42.35,9245992,9.373,250,51.75149668,4042457,89.95376678,25.4,22.15,4.010152243,85.94361454,72.9,NaN
41,41.933,9540302,9.052,260,51.75706009,4140069,90.23472707,25.4,22.15,3.974224609,86.26050246,72.9,NaN
42,41.44,9844301,8.767,260,51.76139565,4239621,90.57073454,25.4,22.15,3.968372885,86.60236166,72.9,NaN
43,40.883,10160034,8.517,260,51.72802017,4370030,90.89992856,25.4,22.15,4.000974789,86.89895377,72.9,NaN
44,40.278,10488002,8.3,260,51.69815523,4508039,91.19375026,26.1,22.8,4.082554558,87.1111957,72.9,NaN
45,39.646,10827010,8.106,260,51.67517542,4654229,91.35920407,25.4,22.15,4.184571411,87.17463265,83.5,NaN
46,39.008,11175379,7.929,250,51.66120937,4808244,91.38249684,25.4,22.15,4.300248832,87.08224801,72.9,NaN
47,38.377,11530577,7.766,240,51.65892761,4969385,91.25120127,25.4,22.15,4.421911215,86.82929006,72.9,NaN
48,38.377,11890781,7.766,230,51.63141352,5089758,90.95652981,25.4,22.15,4.545028976,86.41150083,72.9,NaN
49,49.325,10096630,16.636,470,43.20706277,3421436,107.6489463,24.8,18.55,5.598870177,102.0500761,13.85,NaN

Add Column Labels to Dataframe

In [175]:

final_table.columns=["Birth_Rate_Crude_Per_1000", "Population_Total_Count","Death_Rate_Crude_Per_1000", "GNI_Per_Capita_USD", "Labour_Force_Female_Percent", "Labour_Force_Total_Count", "Age_Dependency_Ratio_Percent_Working_Age", "Age_First_Marriage_Male", "Age_First_Marriage_Female", "Age_Dependency_Ratio_Old", "Age_Dependency_Ratio_Young", "Completeness_Birth_Registration_Percent", "Completeness_Death_Registration_Percent"]
final_table.head(2)

,Birth_Rate_Crude_Per_1000,Population_Total_Count,Death_Rate_Crude_Per_1000,GNI_Per_Capita_USD,Labour_Force_Female_Percent,Labour_Force_Total_Count,Age_Dependency_Ratio_Percent_Working_Age,Age_First_Marriage_Male,Age_First_Marriage_Female,Age_Dependency_Ratio_Old,Age_Dependency_Ratio_Young,Completeness_Birth_Registration_Percent,Completeness_Death_Registration_Percent
0,"Birth rate, crude (per 1,000 people)","Population, total","Death rate, crude (per 1,000 people)","GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Labor force, total",Age dependency ratio (% of working-age populat...,"Age at first marriage, male","Age at first marriage, female","Age dependency ratio, old","Age dependency ratio, young",Completeness of birth registration (%),Completeness of death registration with cause-...
1,10.6,32243753,7.1,34810,46.63737609,17821886,44.495093,28.7,26.98,18.95421925,25.54087375,100.0,NaN

Add Country Name, Year, Continent, Region, Capital, Currency columns

In [176]:
count = 5
iterator = 0;
countries = ["Canada", "USA", "Mexico", "Burundi", "Chad", "Niger", "Bolivia", "Philippines", "Indonesia"]

# regions from https://www.thoughtco.com/official-listing-of-countries-world-region-1435153
regions = ["North America", "North America", "North America", "Sub-Saharan Africa", "Sub-Saharan Africa", "Sub-Saharan Africa", "South America", "Asia", "Asia"]
continents = ["North America", "North America", "North America", "Africa", "Africa", "Africa", "South America", "Asia", "Asia"]

# currencies from https://www.countries-ofthe-world.com/world-currencies.html
currencies = ["CAD", "USD", "MXN", "BIF", "XAF", "XOF", "BOB", "PHP", "IDR"]

# capital cities from https://www.countries-ofthe-world.com/capitals-of-the-world.html
capitals = ["Ottawa", "Washington, D.C.", "Mexico City", "Gitega", "N'Djamena", "Niamey", "Sucre, La Paz", "Manila", "Jakarta"]

country_gen_df = pd.DataFrame(columns=["Country","Year"])

pop_data = {}
pop_data["Country"] = "Blank"
  
country_gen_df = country_gen_df.append(pd.DataFrame([pop_data]), ignore_index=True)


for i in range(144):
    if count>20:
        count = 5
        iterator = iterator + 1
    pop_data["Country_Key"] = i
    pop_data["Year"] = 2000+count
    pop_data["Continent"] = continents[iterator]
    pop_data["Region"] = regions[iterator]
    pop_data["Country"] = countries[iterator]
    pop_data["Capital"] = capitals[iterator]
    pop_data["Currency"] = currencies[iterator]

    count = count + 1
    country_gen_df = country_gen_df.append(pd.DataFrame([pop_data]), ignore_index=True)

display(country_gen_df.head(5))

  Country  Year  Country_Key      Continent         Region Capital Currency
0   Blank   NaN          NaN            NaN            NaN     NaN      NaN
1  Canada  2005          0.0  North America  North America  Ottawa      CAD
2  Canada  2006          1.0  North America  North America  Ottawa      CAD
3  Canada  2007          2.0  North America  North America  Ottawa      CAD
4  Canada  2008          3.0  North America  North America  Ottawa      CAD

Join the two dataframes

In [177]:
final_table = pd.concat([country_gen_df, final_table], axis=1)
display(final_table.head(2))

,Country,Year,Country_Key,Continent,Region,Capital,Currency,Birth_Rate_Crude_Per_1000,Population_Total_Count,Death_Rate_Crude_Per_1000,GNI_Per_Capita_USD,Labour_Force_Female_Percent,Labour_Force_Total_Count,Age_Dependency_Ratio_Percent_Working_Age,Age_First_Marriage_Male,Age_First_Marriage_Female,Age_Dependency_Ratio_Old,Age_Dependency_Ratio_Young,Completeness_Birth_Registration_Percent,Completeness_Death_Registration_Percent
0,Blank,NaN,NaN,NaN,NaN,NaN,NaN,"Birth rate, crude (per 1,000 people)","Population, total","Death rate, crude (per 1,000 people)","GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Labor force, total",Age dependency ratio (% of working-age populat...,"Age at first marriage, male","Age at first marriage, female","Age dependency ratio, old","Age dependency ratio, young",Completeness of birth registration (%),Completeness of death registration with cause-...
1,Canada,2005,0.0,North America,North America,Ottawa,CAD,10.6,32243753,7.1,34810,46.63737609,17821886,44.495093,28.7,26.98,18.95421925,25.54087375,100.0,NaN

Remove Columns and Rows that  will not be used

In [178]:
#Row 0 was a placeholder that can be removed
final_table = final_table.drop(0)

#Death certification had too little data to use
final_table = final_table.drop(["Completeness_Death_Registration_Percent"], axis=1)

final_table['Country_Key'] = final_table['Country_Key'].astype(int)
#Display final table
final_table.head(200)

,Country,Year,Country_Key,Continent,Region,Capital,Currency,Birth_Rate_Crude_Per_1000,Population_Total_Count,Death_Rate_Crude_Per_1000,GNI_Per_Capita_USD,Labour_Force_Female_Percent,Labour_Force_Total_Count,Age_Dependency_Ratio_Percent_Working_Age,Age_First_Marriage_Male,Age_First_Marriage_Female,Age_Dependency_Ratio_Old,Age_Dependency_Ratio_Young,Completeness_Birth_Registration_Percent
1,Canada,2005,0,North America,North America,Ottawa,CAD,10.6,32243753,7.1,34810,46.63737609,17821886,44.495093,28.7,26.98,18.95421925,25.54087375,100.0
2,Canada,2006,1,North America,North America,Ottawa,CAD,10.9,32571174,7,38510,46.8751721,18030705,44.23699432,28.6,26.6,19.13834588,25.09864844,100.0
3,Canada,2007,2,North America,North America,Ottawa,CAD,11.2,32889025,7.1,43090,47.0367127,18379605,44.03477573,28.7,26.98,19.35344295,24.68133278,100.0
4,Canada,2008,3,North America,North America,Ottawa,CAD,11.3,33247118,7.2,45650,46.97475419,18667574,43.93390259,28.7,26.98,19.62097814,24.31292445,100.0
5,Canada,2009,4,North America,North America,Ottawa,CAD,11.3,33628895,7.1,43230,47.20037683,18799155,43.97675318,28.7,26.98,19.96659698,24.0101562,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Indonesia,2016,139,Asia,Asia,Jakarta,IDR,18.245,123333379,5.851,9390,37.60167967,53507498,51.9253744,25.9,23.2,10.44231738,41.48305702,94.2
141,Indonesia,2017,140,Asia,Asia,Jakarta,IDR,17.918,124777326,5.933,8920,37.3923288,54096291,51.46924186,25.885714,23.285714,10.6646015,40.80464036,94.2
142,Indonesia,2018,141,Asia,Asia,Jakarta,IDR,17.602,126190782,6.01,9180,37.71694562,55190039,51.01299485,25.9,23.2,10.90870355,40.1042913,94.2
143,Indonesia,2019,142,Asia,Asia,Jakarta,IDR,17.297,127575529,6.082,9470,38.43918557,56596004,50.60644416,25.9,23.2,11.16996881,39.43647534,94.2
144,Indonesia,2020,143,Asia,Asia,Jakarta,IDR,17.297,128932753,6.082,8480,38.11371726,53080123,50.27056808,25.885714,23.285714,11.44776791,38.82280017,94.2

Generate CSV File

In [179]:
final_table.to_csv("Country_Processed_Table.csv", index = False, header = True)