Import Packages

In [209]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta
from IPython.display import display
# !pip install -U pandasql
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

warnings.filterwarnings("ignore")

Read Country Data

In [210]:
country_data_processed = pd.read_csv("Country_Processed_Table.csv")#read input data
country_data_processed.head(20)

,Country,Year,Country_Key,Continent,Region,Capital,Currency,Birth_Rate_Crude_Per_1000,Population_Total_Count,Death_Rate_Crude_Per_1000,GNI_Per_Capita_USD,Labour_Force_Female_Percent,Labour_Force_Total_Count,Age_Dependency_Ratio_Percent_Working_Age,Age_First_Marriage_Male,Age_First_Marriage_Female,Age_Dependency_Ratio_Old,Age_Dependency_Ratio_Young,Completeness_Birth_Registration_Percent
0,Canada,2005,0,North America,North America,Ottawa,CAD,10.6,32243753,7.1,34810,46.637376,17821886,44.495093,28.7,26.98,18.954219,25.540874,100.0
1,Canada,2006,1,North America,North America,Ottawa,CAD,10.9,32571174,7.0,38510,46.875172,18030705,44.236994,28.6,26.60,19.138346,25.098648,100.0
2,Canada,2007,2,North America,North America,Ottawa,CAD,11.2,32889025,7.1,43090,47.036713,18379605,44.034776,28.7,26.98,19.353443,24.681333,100.0
3,Canada,2008,3,North America,North America,Ottawa,CAD,11.3,33247118,7.2,45650,46.974754,18667574,43.933903,28.7,26.98,19.620978,24.312924,100.0
4,Canada,2009,4,North America,North America,Ottawa,CAD,11.3,33628895,7.1,43230,47.200377,18799155,43.976753,28.7,26.98,19.966597,24.010156,100.0
5,Canada,2010,5,North America,North America,Ottawa,CAD,11.1,34004889,7.0,44490,47.310514,19001081,44.179945,28.7,26.98,20.406725,23.773220,100.0
6,Canada,2011,6,North America,North America,Ottawa,CAD,11.0,34339328,7.1,47190,47.267516,19147395,44.647634,28.6,26.90,20.903344,23.744289,100.0
7,Canada,2012,7,North America,North America,Ottawa,CAD,11.0,34714222,7.1,51080,47.392995,19322866,45.139185,28.7,26.98,21.486257,23.652928,100.0
8,Canada,2013,8,North America,North America,Ottawa,CAD,10.8,35082954,7.2,52800,47.466474,19546552,45.706975,28.8,27.10,22.150152,23.556824,100.0
9,Canada,2014,9,North America,North America,Ottawa,CAD,10.8,35437435,7.3,52200,47.326076,19629145,46.380541,28.7,26.98,22.869567,23.510974,100.0
10,Canada,2015,10,North America,North America,Ottawa,CAD,10.7,35702908,7.4,47590,47.173062,19747709,47.156456,28.8,27.10,23.623958,23.532498,100.0
11,Canada,2016,11,North America,North America,Ottawa,CAD,10.6,36109487,7.4,43890,47.300729,19955331,47.826314,28.7,27.20,24.324835,23.501479,100.0
12,Canada,2017,12,North America,North America,Ottawa,CAD,10.3,36545295,7.5,42900,47.405080,20218270,48.616076,28.7,26.98,25.030649,23.585427,100.0
13,Canada,2018,13,North America,North America,Ottawa,CAD,10.1,37065178,7.7,45080,47.501171,20396697,49.481877,28.7,26.98,25.758727,23.723150,100.0
14,Canada,2019,14,North America,North America,Ottawa,CAD,9.9,37593384,7.6,46550,47.381804,20788261,50.361916,28.7,26.98,26.535717,23.826199,100.0
15,Canada,2020,15,North America,North America,Ottawa,CAD,9.9,38005238,7.6,43580,47.092370,20492683,51.239287,28.7,26.98,27.380909,23.858378,100.0
16,USA,2005,16,North America,North America,"Washington, D.C.",USD,14.0,295516599,8.3,46180,45.885419,151976098,49.684568,29.2,25.60,18.428732,31.255836,100.0
17,USA,2006,17,North America,North America,"Washington, D.C.",USD,14.3,298379912,8.1,47850,45.866704,153855509,49.697110,29.2,25.60,18.533873,31.163237,100.0
18,USA,2007,18,North America,North America,"Washington, D.C.",USD,14.3,301231207,8.0,48520,45.909114,155224880,49.614987,29.2,23.70,18.659784,30.955203,100.0
19,USA,2008,19,North America,North America,"Washington, D.C.",USD,14.0,304093966,8.1,49090,46.056336,156907793,49.521428,29.2,25.60,18.832395,30.689032,100.0

Create Fact Table and Add Month Data

In [211]:
fact_table = pd.DataFrame()

month_data_processed = pd.read_csv("Month_Processed_Table.csv")#read input data

fact_table = month_data_processed.merge(country_data_processed, on="Year")
fact_table = fact_table.sort_values('Country')

fact_table.head()

,Month_Key,Name,Month_Num,Quarter,Year,Decade,Country,Country_Key,Continent,Region,...,Death_Rate_Crude_Per_1000,GNI_Per_Capita_USD,Labour_Force_Female_Percent,Labour_Force_Total_Count,Age_Dependency_Ratio_Percent_Working_Age,Age_First_Marriage_Male,Age_First_Marriage_Female,Age_Dependency_Ratio_Old,Age_Dependency_Ratio_Young,Completeness_Birth_Registration_Percent
1491,165,October,10,4,2018,21,Bolivia,109,South America,South America,...,6.465,3840,39.209263,133000453,47.947297,26.675,22.44,8.665518,39.281779,71.9
1572,174,July,7,3,2019,21,Bolivia,110,South America,South America,...,6.510,4050,39.491377,136202238,47.635083,26.675,22.44,8.932369,38.702714,68.0
357,39,April,4,2,2008,20,Bolivia,99,South America,South America,...,6.849,1940,37.966295,110890081,51.508237,26.675,22.44,7.503345,44.004892,68.0
996,110,March,3,1,2014,21,Bolivia,105,South America,South America,...,6.437,3620,37.975372,122770335,49.357239,26.675,22.44,7.883945,41.473294,68.0
159,17,June,6,2,2006,20,Bolivia,97,South America,South America,...,7.087,1380,35.879524,103776784,52.414299,26.675,22.44,7.419868,44.994431,68.0

Join with Population Data

In [212]:
population_data_processed = pd.read_csv("Pop_Processed_Table.csv")#read input data

fact_table = fact_table.merge(population_data_processed, left_on=['Country','Year'], right_on=['Country','Year'], how='left' )

fact_table.head()

,Month_Key,Name,Month_Num,Quarter,Year,Decade,Country,Country_Key,Continent,Region,...,Population_Growth_Percent,Population_Female_Percent,Population_Male_Percent,Rural_Population_Percent,Rural_Population_Growth_Percent,Urban_Population_Percent,Urban_Population_Growth_Percent,Life_Exp_Birth_Total_Yr,Life_Exp_Birth_Male_Yr,Life_Exp_Birth_Female_Yr
0,165,October,10,4,2018,21,Bolivia,109,South America,South America,...,1.421891,49.783399,50.216601,30.575,0.299854,69.425,1.920061,71.239,68.434,74.209
1,174,July,7,3,2019,21,Bolivia,110,South America,South America,...,1.399133,49.799706,50.200294,30.227,0.254399,69.773,1.899151,71.513,68.684,74.508
2,39,April,4,2,2008,20,Bolivia,99,South America,South America,...,1.691118,49.668326,50.331674,34.465,0.385311,65.535,2.384748,66.937,64.656,69.334
3,110,March,3,1,2014,21,Bolivia,105,South America,South America,...,1.544977,49.723902,50.276098,31.953,0.461741,68.047,2.057712,69.891,67.271,72.655
4,17,June,6,2,2006,20,Bolivia,97,South America,South America,...,1.751711,49.659745,50.340255,35.372,0.465219,64.628,2.462901,65.853,63.680,68.137

Remove Unecessary Columns and Add Measures

In [213]:
#keep only keys and columns needed for joins
fact_table = pd.DataFrame(fact_table, columns=['Month_Key', "Country_Key", "Population_Key", "Country", "Year", "Name", "Month_Num"])

population_human_development_raw = pd.read_csv("human_development_index_raw.csv")#read input data


countries = ["Canada", "United States", "Mexico", "Burundi", "Chad", "Niger", "Bolivia", "Philippines", "Indonesia"]

population_human_development_processed = population_human_development_raw[population_human_development_raw["Entity"].isin(countries)]
population_human_development_processed = population_human_development_processed[population_human_development_processed["Year"] >2004]
population_human_development_processed = population_human_development_processed.drop(["Code"], axis=1)

country = "Canada"
for country in countries:
    for i in range(3):
        country_data = {}
        country_data["Entity"] = country
        country_data["Year"] = 2018+i
        population_human_development_processed = population_human_development_processed.append(pd.DataFrame([country_data]), ignore_index=True)


population_human_development_processed['Entity'].replace({"United States": "USA"}, inplace = True)
population_human_development_processed = population_human_development_processed.sort_values(["Entity","Year"], ascending=[True,True])
population_human_development_processed.fillna(method="ffill", inplace=True)#perhaps change to extrapolation

fact_table = fact_table.merge(population_human_development_processed, left_on=['Country','Year' ], right_on=['Entity','Year' ], how='left').drop(columns=["Entity"])
fact_table = fact_table.sort_values(["Country","Year"], ascending=[True,True])
display(fact_table.tail(50))
print(fact_table.shape)

,Month_Key,Country_Key,Population_Key,Country,Year,Name,Month_Num,Human Development Index (UNDP)
1725,134,27,27,USA,2016,March,3,0.922
1726,137,27,27,USA,2016,June,6,0.922
1612,148,28,28,USA,2017,May,5,0.924
1617,147,28,28,USA,2017,April,4,0.924
1620,146,28,28,USA,2017,March,3,0.924
1625,145,28,28,USA,2017,February,2,0.924
1628,144,28,28,USA,2017,January,1,0.924
1637,149,28,28,USA,2017,June,6,0.924
1647,155,28,28,USA,2017,December,12,0.924
1651,154,28,28,USA,2017,November,11,0.924
1654,153,28,28,USA,2017,October,10,0.924
1658,152,28,28,USA,2017,September,9,0.924
1661,151,28,28,USA,2017,August,8,0.924
1664,150,28,28,USA,2017,July,7,0.924
1609,157,29,29,USA,2018,February,2,0.924
1615,164,29,29,USA,2018,September,9,0.924
1621,165,29,29,USA,2018,October,10,0.924
1626,166,29,29,USA,2018,November,11,0.924
1632,167,29,29,USA,2018,December,12,0.924
1636,163,29,29,USA,2018,August,8,0.924
1640,158,29,29,USA,2018,March,3,0.924
1642,156,29,29,USA,2018,January,1,0.924
1645,159,29,29,USA,2018,April,4,0.924
1653,160,29,29,USA,2018,May,5,0.924
1657,161,29,29,USA,2018,June,6,0.924
1662,162,29,29,USA,2018,July,7,0.924
1545,179,30,30,USA,2019,December,12,0.924
1667,168,30,30,USA,2019,January,1,0.924
1671,174,30,30,USA,2019,July,7,0.924
1678,175,30,30,USA,2019,August,8,0.924
1689,177,30,30,USA,2019,October,10,0.924
1694,178,30,30,USA,2019,November,11,0.924
1696,176,30,30,USA,2019,September,9,0.924
1699,173,30,30,USA,2019,June,6,0.924
1703,169,30,30,USA,2019,February,2,0.924
1708,170,30,30,USA,2019,March,3,0.924
1714,171,30,30,USA,2019,April,4,0.924
1719,172,30,30,USA,2019,May,5,0.924
1543,181,31,31,USA,2020,February,2,0.924
1551,180,31,31,USA,2020,January,1,0.924
1554,182,31,31,USA,2020,March,3,0.924
1560,188,31,31,USA,2020,September,9,0.924
1564,189,31,31,USA,2020,October,10,0.924
1571,190,31,31,USA,2020,November,11,0.924
1576,191,31,31,USA,2020,December,12,0.924
1583,187,31,31,USA,2020,August,8,0.924
1585,183,31,31,USA,2020,April,4,0.924
1591,184,31,31,USA,2020,May,5,0.924
1596,185,31,31,USA,2020,June,6,0.924
1602,186,31,31,USA,2020,July,7,0.924

(1728, 8)

Add Events

In [214]:
events_processed = pd.read_csv("Event_Processed_Table.csv")#read input data
# events_processed.head(30)

# query = '''
# Select * 
# FROM fact_table, event_processed_table
# INNER JOIN
# ON (fact_table.Country = events_processed.Country)
# where
# fact_table.Month_Num >= events_processed.Start_Month
# and fact_table.Month_Num <= events_processed.End_Month
# and fact_table.Month_Num >= events_processed.Start_Year
# and fact_table.Month_Num <= events_processed.End_Year
# '''

query = '''
Select * 
FROM fact_table
outer join events_processed
where
fact_table.Month_Num >= events_processed.Start_Month
'''
queryTwo = '''
Select * 
FROM fact_table 
left join events_processed

on
fact_table.Country = events_processed.Country
and fact_table.Month_Num >= events_processed.Start_Month
and fact_table.Month_Num <= events_processed.End_Month
and fact_table.Year >= events_processed.Start_Year
and fact_table.Year <= events_processed.End_Year
'''

out = mysql(queryTwo)#76464
display(out.head(50))
print(out.shape)

,Month_Key,Country_Key,Population_Key,Country,Year,Name,Month_Num,Human Development Index (UNDP),Event_Key,Year,...,Disaster_Subtype,Country,Start_Month,End_Month,Start_Year,End_Year,Total_Deaths,Total_Injuries,Total_Homeless,Total_Affected
0,6,96,96,Bolivia,2005,July,7,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,96,96,Bolivia,2005,March,3,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,96,96,Bolivia,2005,August,8,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,96,96,Bolivia,2005,May,5,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,96,96,Bolivia,2005,April,4,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,96,96,Bolivia,2005,June,6,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8,96,96,Bolivia,2005,September,9,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10,96,96,Bolivia,2005,November,11,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,96,96,Bolivia,2005,January,1,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,96,96,Bolivia,2005,December,12,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,96,96,Bolivia,2005,October,10,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,96,96,Bolivia,2005,February,2,0.624,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,17,97,97,Bolivia,2006,June,6,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18,97,97,Bolivia,2006,July,7,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,19,97,97,Bolivia,2006,August,8,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,20,97,97,Bolivia,2006,September,9,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,12,97,97,Bolivia,2006,January,1,0.630,68.0,2006.0,...,Riverine flood,Bolivia,1.0,4.0,2006.0,2006.0,25.0,21.0,0.0,126096.0
17,13,97,97,Bolivia,2006,February,2,0.630,68.0,2006.0,...,Riverine flood,Bolivia,1.0,4.0,2006.0,2006.0,25.0,21.0,0.0,126096.0
18,16,97,97,Bolivia,2006,May,5,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14,97,97,Bolivia,2006,March,3,0.630,68.0,2006.0,...,Riverine flood,Bolivia,1.0,4.0,2006.0,2006.0,25.0,21.0,0.0,126096.0
20,15,97,97,Bolivia,2006,April,4,0.630,68.0,2006.0,...,Riverine flood,Bolivia,1.0,4.0,2006.0,2006.0,25.0,21.0,0.0,126096.0
21,21,97,97,Bolivia,2006,October,10,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,97,97,Bolivia,2006,November,11,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,97,97,Bolivia,2006,December,12,0.630,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,98,98,Bolivia,2007,March,3,0.631,63.0,2007.0,...,Riverine flood,Bolivia,1.0,5.0,2007.0,2007.0,40.0,0.0,0.0,339495.0
25,32,98,98,Bolivia,2007,September,9,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,98,98,Bolivia,2007,April,4,0.631,63.0,2007.0,...,Riverine flood,Bolivia,1.0,5.0,2007.0,2007.0,40.0,0.0,0.0,339495.0
27,28,98,98,Bolivia,2007,May,5,0.631,63.0,2007.0,...,Riverine flood,Bolivia,1.0,5.0,2007.0,2007.0,40.0,0.0,0.0,339495.0
28,30,98,98,Bolivia,2007,July,7,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,98,98,Bolivia,2007,June,6,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,98,98,Bolivia,2007,August,8,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,25,98,98,Bolivia,2007,February,2,0.631,63.0,2007.0,...,Riverine flood,Bolivia,1.0,5.0,2007.0,2007.0,40.0,0.0,0.0,339495.0
32,33,98,98,Bolivia,2007,October,10,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,35,98,98,Bolivia,2007,December,12,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,98,98,Bolivia,2007,November,11,0.631,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,24,98,98,Bolivia,2007,January,1,0.631,63.0,2007.0,...,Riverine flood,Bolivia,1.0,5.0,2007.0,2007.0,40.0,0.0,0.0,339495.0
36,39,99,99,Bolivia,2008,April,4,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,99,99,Bolivia,2008,March,3,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,37,99,99,Bolivia,2008,February,2,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,42,99,99,Bolivia,2008,July,7,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,41,99,99,Bolivia,2008,June,6,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,40,99,99,Bolivia,2008,May,5,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,36,99,99,Bolivia,2008,January,1,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,46,99,99,Bolivia,2008,November,11,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,47,99,99,Bolivia,2008,December,12,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,44,99,99,Bolivia,2008,September,9,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,43,99,99,Bolivia,2008,August,8,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,45,99,99,Bolivia,2008,October,10,0.640,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,56,100,100,Bolivia,2009,September,9,0.647,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,50,100,100,Bolivia,2009,March,3,0.647,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(1738, 22)