Import Packages

In [8]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta
from IPython.display import display

warnings.filterwarnings("ignore")

Generate Dataframe

In [9]:
month_df = pd.DataFrame(columns=["Month_Key","Name", "Month_Num", "Quarter","Year","Decade"])

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

month = 1;
year = 2005;
decade = 20;
quarter = 1

for i in range(12*16):

    if month >12:
        month = 1
        year = year + 1

    if year/10 == 201:
        decade = 21

    if year/10 == 202:
        decade = 22

    rough_quarter = month/4

    if rough_quarter <=0.75:
        quarter = 1
    elif rough_quarter<=1.5:
        quarter = 2
    elif rough_quarter<=2.25:
        quarter = 3
    else:
        quarter = 4

    month_data = {}
    month_data["Month_Key"] = i
    month_data["Name"] = months[month-1]
    month_data["Month_Num"] = month
    month_data["Quarter"] = quarter
    month_data["Year"] = year
    month_data["Decade"] = decade
    month=month+1
  
    month_df = month_df.append(pd.DataFrame([month_data]), ignore_index=True)


month_df.head()

  Month_Key      Name Month_Num Quarter  Year Decade
0         0   January         1       1  2005     20
1         1  February         2       1  2005     20
2         2     March         3       1  2005     20
3         3     April         4       2  2005     20
4         4       May         5       2  2005     20

Generate CSV

In [10]:
month_df.to_csv("Month_Processed_Table.csv", index = False, header = True)

CSV For DB

In [11]:
month_df.to_csv("Month_Processed_DB.csv", index = False, header = True)