Import Packages

In [22]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta
from IPython.display import display

warnings.filterwarnings("ignore")

Generate Dataframe

In [25]:
month_df = pd.DataFrame(columns=["Month_Key","Name", "Month_Num", "Quarter","Year","Decade"])

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

month = 1;
year = 2005;
decade = 20;
quarter = 1

for i in range(12*16):

    if month >12:
        month = 1
        year = year + 1

    if year/10 == 201:
        decade = 21

    if year/10 == 202:
        decade = 22

    rough_quarter = month/4

    if rough_quarter <=0.75:
        quarter = 1
    elif rough_quarter<=1.5:
        quarter = 2
    elif rough_quarter<=2.25:
        quarter = 3
    else:
        quarter = 4

    month_data = {}
    month_data["Month_Key"] = i
    month_data["Name"] = months[month-1]
    month_data["Month_Num"] = month
    month_data["Quarter"] = quarter
    month_data["Year"] = year
    month_data["Decade"] = decade
    month=month+1
  
    month_df = month_df.append(pd.DataFrame([month_data]), ignore_index=True)


month_df.head(50)

   Month_Key       Name Month_Num Quarter  Year Decade
0          0    January         1       1  2005     20
1          1   February         2       1  2005     20
2          2      March         3       1  2005     20
3          3      April         4       2  2005     20
4          4        May         5       2  2005     20
5          5       June         6       2  2005     20
6          6       July         7       3  2005     20
7          7     August         8       3  2005     20
8          8  September         9       3  2005     20
9          9    October        10       4  2005     20
10        10   November        11       4  2005     20
11        11   December        12       4  2005     20
12        12    January         1       1  2006     20
13        13   February         2       1  2006     20
14        14      March         3       1  2006     20
15        15      April         4       2  2006     20
16        16        May         5       2  2006     20
17        17       June         6       2  2006     20
18        18       July         7       3  2006     20
19        19     August         8       3  2006     20
20        20  September         9       3  2006     20
21        21    October        10       4  2006     20
22        22   November        11       4  2006     20
23        23   December        12       4  2006     20
24        24    January         1       1  2007     20
25        25   February         2       1  2007     20
26        26      March         3       1  2007     20
27        27      April         4       2  2007     20
28        28        May         5       2  2007     20
29        29       June         6       2  2007     20
30        30       July         7       3  2007     20
31        31     August         8       3  2007     20
32        32  September         9       3  2007     20
33        33    October        10       4  2007     20
34        34   November        11       4  2007     20
35        35   December        12       4  2007     20
36        36    January         1       1  2008     20
37        37   February         2       1  2008     20
38        38      March         3       1  2008     20
39        39      April         4       2  2008     20
40        40        May         5       2  2008     20
41        41       June         6       2  2008     20
42        42       July         7       3  2008     20
43        43     August         8       3  2008     20
44        44  September         9       3  2008     20
45        45    October        10       4  2008     20
46        46   November        11       4  2008     20
47        47   December        12       4  2008     20
48        48    January         1       1  2009     20
49        49   February         2       1  2009     20

Generate CSV

In [24]:
month_df.to_csv("Month_Processed_Table.csv", index = False, header = True)