In [16]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta
from IPython.display import display
# !pip install -U pandasql
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

warnings.filterwarnings("ignore")

In [17]:

# Extract the data

country_list = ["Bolivia", "Burundi", "Canada", "Chad", "Indonesia", "Mexico", "Niger", "Philippines", "USA"]
begin_date = 2005
end_date = 2020
nb_dates = end_date - begin_date + 1

attribute_names = ["Maternal_Leave_Benefits",
                    "Access_To_Basic_Drinking_Water_Total",
                    "Access_To_Basic_Drinking_Water_Urban",
                    "Access_To_Basic_Sanitation_Total",
                    "Access_To_Basic_Sanitation_Urban",
                    "Access_To_Managed_Drinking_Water_Total",
                    "Access_To_Managed_Sanitation_Total",
                    "Access_To_Basic_Handwashing_Facilities_Total",
                    "Access_To_Basic_Handwashing_Facilities_Urban",
                    "Unemployment_Female",
                    "Unemployment_Male",
                    "Unemployment_Total"
                    ]

nb_attributes = len(attribute_names)

QOL_data_raw = pd.read_csv("QOL_data_raw.csv")

QOL_transposed = QOL_data_raw.transpose()#flip dataframe

QOL_dimension = QOL_transposed.iloc[2,0:nb_attributes].transpose()#create data frame header columns
QOL_dimension = pd.DataFrame(QOL_dimension.values.reshape(1,-1))

count = 0
for k in range(len(country_list)):
    transposed_country = QOL_transposed.iloc[4+begin_date-1960:4+end_date-1960+1, count: count+nb_attributes]
    transposed_country.columns = range(transposed_country.columns.size)
    QOL_dimension = pd.concat([QOL_dimension, transposed_country], axis=0, ignore_index=True)
    count += nb_attributes


# add dates
date_table = pd.DataFrame(['Date'])
count = 0
for k in range(len(country_list)):
    date_table = pd.concat([date_table, pd.DataFrame([np.arange(begin_date, end_date+1)]).transpose()], axis=0)
date_table = date_table.reset_index().iloc[: , 1:]

QOL_dimension = pd.concat([date_table, QOL_dimension], axis=1, ignore_index=True)

QOL_dimension = QOL_dimension.drop(0)


country_table = pd.DataFrame(['Country'])
count = 0
for k in range(len(country_list)):
    country_table = pd.concat([country_table, pd.DataFrame([country_list[k]]*nb_dates)])
country_table = country_table.reset_index().iloc[: , 1:]

QOL_dimension = pd.concat([country_table, QOL_dimension], axis=1, ignore_index=True)

QOL_dimension = QOL_dimension.drop(0)


QOL_dimension.columns = ['Country_Ref', 'Date'] + attribute_names

QOL_dimension.insert(0, "QOL_Key",  np.arange(len(QOL_dimension)))


# Save it into a new csv file
QOL_dimension.to_csv('QOL_dimension.csv', index = False, header=True)

display(QOL_dimension.tail())

,QOL_Key,Country_Ref,Date,Maternal_Leave_Benefits,Access_To_Basic_Drinking_Water_Total,Access_To_Basic_Drinking_Water_Urban,Access_To_Basic_Sanitation_Total,Access_To_Basic_Sanitation_Urban,Access_To_Managed_Drinking_Water_Total,Access_To_Managed_Sanitation_Total,Access_To_Basic_Handwashing_Facilities_Total,Access_To_Basic_Handwashing_Facilities_Urban,Unemployment_Female,Unemployment_Male,Unemployment_Total
140,139,USA,2016,NaN,99.537139,99.842653,99.747554,99.841607,96.59864,98.311762,NaN,NaN,4.789,4.939,4.87
141,140,USA,2017,NaN,99.625816,99.864026,99.729968,99.839976,96.782652,98.299286,NaN,NaN,4.312,4.402,4.36
142,141,USA,2018,NaN,99.713121,99.885399,99.712774,99.838346,96.965188,98.287095,NaN,NaN,3.841,3.951,3.9
143,142,USA,2019,NaN,99.799044,99.906772,99.695994,99.836715,97.146243,98.275223,NaN,NaN,3.611,3.721,3.67
144,143,USA,2020,NaN,99.883527,99.928144,99.679619,99.835085,97.325718,98.263647,NaN,NaN,8.345,7.796,8.05

CSV for DB

In [18]:
final_table = QOL_dimension.drop(columns=["Country_Ref", "Date"])
display(final_table.tail(50))
final_table.to_csv("QOL_Dimension_DB.csv", index = False, header = True)

,QOL_Key,Maternal_Leave_Benefits,Access_To_Basic_Drinking_Water_Total,Access_To_Basic_Drinking_Water_Urban,Access_To_Basic_Sanitation_Total,Access_To_Basic_Sanitation_Urban,Access_To_Managed_Drinking_Water_Total,Access_To_Managed_Sanitation_Total,Access_To_Basic_Handwashing_Facilities_Total,Access_To_Basic_Handwashing_Facilities_Urban,Unemployment_Female,Unemployment_Male,Unemployment_Total
95,94,NaN,99.477264,100.0,91.736661,93.48725,42.938961,54.881722,89.843792,91.384273,3.517,3.457,3.48
96,95,NaN,99.679568,100.0,92.424063,93.946294,43.026285,57.341103,NaN,NaN,4.097,4.667,4.45
97,96,NaN,40.555573,90.904553,7.901512,29.027128,NaN,9.256827,7.123087,29.325238,2.711,3.414,3.1
98,97,NaN,41.190794,90.564554,8.401596,30.401364,NaN,9.814904,8.208276,29.93982,2.305,2.926,2.649
99,98,NaN,41.793852,90.224644,8.89362,31.795212,NaN,10.357996,9.293511,30.554401,1.901,2.444,2.203
100,99,NaN,42.364176,89.884822,9.377293,33.208673,NaN,10.885851,10.378542,31.168983,1.465,1.905,1.71
101,100,100.0,42.902902,89.545089,9.85317,34.641746,NaN,11.398954,11.463872,31.783564,1.064,1.429,1.267
102,101,NaN,43.409453,89.205443,10.320974,36.094432,NaN,11.897061,12.549247,32.398146,0.632,0.895,0.779
103,102,100.0,43.883283,88.865886,10.78038,37.56673,NaN,12.379905,13.634435,33.012728,0.219,0.399,0.32
104,103,NaN,44.325474,88.526417,11.232013,39.058641,NaN,12.848001,14.719907,33.627309,3.159,1.422,2.18
105,104,100.0,44.735473,88.187036,11.67556,40.570164,NaN,13.301088,15.805423,34.241891,1.84,1.01,1.369
106,105,NaN,45.120924,87.847743,12.116385,42.101299,NaN,13.743341,16.894199,34.856472,0.424,0.592,0.52
107,106,100.0,45.482458,87.508539,12.55583,43.652047,NaN,14.175612,17.986401,35.471054,0.437,0.6,0.53
108,107,NaN,45.818702,87.169423,12.993835,45.222407,NaN,14.59767,19.081334,36.085636,0.446,0.601,0.534
109,108,100.0,46.130328,86.830395,13.431859,46.81238,NaN,15.010453,20.179142,36.700217,0.457,0.606,0.542
110,109,NaN,46.416068,86.491455,13.86985,48.421965,NaN,15.41376,21.279151,37.314799,0.465,0.605,0.545
111,110,NaN,46.676636,86.152603,14.309386,50.051163,NaN,15.808614,22.381482,37.92938,0.476,0.611,0.554
112,111,NaN,46.911797,85.81384,14.751306,51.699973,NaN,16.187408,23.485846,38.543962,0.542,0.686,0.624
113,112,NaN,87.916285,94.350613,63.084765,71.949378,44.231622,44.919118,NaN,NaN,4.205,3.544,3.8
114,113,NaN,88.311654,94.558702,63.493881,72.123937,44.677293,45.270307,NaN,NaN,4.325,3.875,4.05
115,114,NaN,88.707703,94.766956,64.729756,72.835212,44.817247,46.221595,NaN,NaN,3.71,3.252,3.43
116,115,NaN,89.10443,94.975376,65.98142,73.54908,44.957397,47.186199,NaN,NaN,4.009,3.539,3.72
117,116,100.0,89.50194,95.183961,67.249056,74.265539,45.09803,48.164154,NaN,NaN,4.135,3.685,3.86
118,117,NaN,89.904638,95.392712,68.537875,74.98459,45.251641,49.15443,NaN,NaN,3.793,3.493,3.61
119,118,100.0,90.329842,95.601629,69.866207,75.706232,45.470137,50.242395,81.585053,85.265733,3.827,3.437,3.59
120,119,NaN,90.753732,95.810711,71.204518,76.430467,45.688193,51.359724,81.59789,85.265733,3.725,3.355,3.5
121,120,100.0,91.1764,96.019959,72.552774,77.157293,45.90609,52.487185,81.610795,85.265733,3.822,3.291,3.5
122,121,NaN,91.597664,96.229373,73.910673,77.88671,46.123263,53.624776,81.623631,85.265733,3.721,3.521,3.6
123,122,100.0,92.017701,96.438952,75.278252,78.61872,46.340277,54.772304,81.636536,85.265733,3.221,2.971,3.07
124,123,NaN,92.436422,96.648697,76.655307,79.353321,46.556849,55.929729,81.649441,85.265733,2.852,2.602,2.7
125,124,100.0,92.855031,96.858607,78.042329,80.090514,46.777394,57.095643,81.663426,85.265733,2.698,2.458,2.55
126,125,NaN,93.273496,97.068683,79.438665,80.830298,47.002405,58.269345,81.678627,85.265733,2.677,2.127,2.34
127,126,NaN,93.691558,97.278925,80.843501,81.572675,47.23155,59.450346,81.694978,85.265733,2.532,2.051,2.24
128,127,NaN,94.109035,97.489333,82.256048,82.317643,47.464767,60.638072,81.712476,85.265733,2.714,2.395,2.52
129,128,NaN,98.853687,99.693042,99.881787,99.85302,95.235813,97.82838,NaN,NaN,5.096,5.066,5.08
130,129,NaN,98.860837,99.693042,99.88154,99.85302,95.245827,97.89265,NaN,NaN,4.625,4.615,4.62
131,130,NaN,98.867945,99.693042,99.881295,99.85302,95.255783,97.956998,NaN,NaN,4.496,4.725,4.62
132,131,NaN,98.875013,99.693042,99.881055,99.85302,95.265683,98.021428,NaN,NaN,5.414,6.093,5.78
133,132,NaN,98.88204,99.693042,99.880815,99.85302,95.275524,98.085935,NaN,NaN,8.059,10.276,9.25
134,133,NaN,98.978952,99.714415,99.860766,99.85139,95.467782,98.135174,NaN,NaN,8.61,10.508,9.63
135,134,NaN,99.074887,99.735788,99.841033,99.849759,95.659149,98.184948,NaN,NaN,8.461,9.371,8.95
136,135,NaN,99.169688,99.757161,99.821629,99.848129,95.8494,98.235258,NaN,NaN,7.887,8.227,8.07
137,136,NaN,99.263379,99.778534,99.802569,99.846498,96.03857,98.286127,NaN,NaN,7.069,7.628,7.37
138,137,NaN,99.355881,99.799907,99.783861,99.844868,96.226545,98.33756,NaN,NaN,6.062,6.262,6.17
139,138,NaN,99.447158,99.82128,99.765524,99.843237,96.413268,98.324529,NaN,NaN,5.178,5.367,5.28
140,139,NaN,99.537139,99.842653,99.747554,99.841607,96.59864,98.311762,NaN,NaN,4.789,4.939,4.87
141,140,NaN,99.625816,99.864026,99.729968,99.839976,96.782652,98.299286,NaN,NaN,4.312,4.402,4.36
142,141,NaN,99.713121,99.885399,99.712774,99.838346,96.965188,98.287095,NaN,NaN,3.841,3.951,3.9
143,142,NaN,99.799044,99.906772,99.695994,99.836715,97.146243,98.275223,NaN,NaN,3.611,3.721,3.67
144,143,NaN,99.883527,99.928144,99.679619,99.835085,97.325718,98.263647,NaN,NaN,8.345,7.796,8.05